page{
  background: #d95940;
}
.main {
  font-size: 32rpx;
  color: #fff;
}
.content{
  padding: 40rpx;
  padding-bottom: 150rpx;
}
.subject{
  background: #fff;
  padding: 80rpx;
  border-radius: 10rpx;
  margin-bottom: 20rpx;
  overflow: hidden;
  padding-bottom: 20rpx;
}
.problem{
  font-size: 32rpx;
  color: #d95940;
  font-weight: bold;
  padding-bottom: 20rpx;
}
.answer{
  width: 400rpx;
  height: 80rpx;
  line-height: 90rpx;
  font-size: 28rpx;
  border: 2rpx solid #ccc;
  border-radius: 50rpx;
  padding-left: 50rpx;
  color: #323232;
  margin-top: 20rpx;
}
.selected{
  background: #d95940;
  color: #fff;
  border-color: #d95940;
}
.delete{
  width: 160rpx;
  background: #f9d9a6;
  color: #ac8858;
  text-align: center;
  border-radius: 30rpx;
  padding: 5rpx 10rpx;
  float: right;
  margin-top: 20rpx; 
  font-size: 28rpx;
}
.confirm{
  position: fixed;
  bottom: 50rpx;
  width: 400rpx;
  text-align: center;
  color: #9c3900;
  box-shadow: 0 8rpx 8rpx #a4600d;
  background: #fec84e;
  left:50%;
  transform: translateX(-50%);
  line-height: 80rpx;
  border-radius: 50rpx;
}
.authbg{
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.auth{
  width: 550rpx;
  height: 650rpx;
  margin: 0 auto;
  background: #da5a41;
  margin-top: 40%;
  border-radius: 20rpx;
  color: #ffe9b9;
  position: relative;
}
.avatar{
  width: 130rpx;
  height: 130rpx;
  border-radius: 50%;
  margin-top: 80rpx;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 4rpx #ffcfad solid;
}
.name{
  margin-top: 10rpx;
  text-align: center;
}
.money{
  margin-top: 30rpx;
  text-align: center;
}
.money text{
  font-size: 68rpx;
  font-weight: bold;
}
.fail{
  text-align: center;
  margin-top: 80rpx;
  font-size: 48rpx;
}
.send{
  font-size: 28rpx;
  position: absolute;
  bottom: 50rpx;
  left: 50%;
  transform: translateX(-50%);
}
/*
 *支付提示
*/
.pay-auth{
  width: 560rpx;
  height: 650rpx;
  margin: 0 auto;
  background: #fff;
  margin-top: 40%;
  border-radius: 20rpx;
  color: #363533;
}
.auth-title{
  font-weight: bold;
  line-height: 100rpx;
  border-bottom: 2rpx solid #ebebeb;
  text-align: center;
}
.auth-content{
  padding: 50rpx;
  padding-bottom: 10rpx;
  line-height: 50rpx;
}
.auth-button{
  width:100%;
  margin-top:30rpx;
  color:#fff;
  background: #01b72f;
  line-height: 80rpx;
  text-align: center;
  border-radius: 20rpx;
}
.bg-red{
  background: #d95940;
}
.color-red{
  color: #d95940;
}